<div class="container">
  <div class="d-flex brewer-cards-container">
    <% @brewers.each do |brewer| %>
      <%= render "brewers/brew_method_card", brewer: brewer%>
    <% end %>
  </div>
  <div class="d-flex coffee-cards-container">
    <% @coffees.first(10).each do |coffee| %>
      <%= render "coffees/coffee_card", coffee: coffee%>
    <% end %>
  </div>
  <div class="d-flex recipe-cards-container">
    <% @recipes.each do |recipe| %>
      <%= render "recipes/recipe_card", coffee: coffee%>
    <% end %>
  </div>
</div>
